{% extends "network/layout.html" %}

{% block body %}
    <div id="div-profile">
        <h2>{{request.username}}</h2>

    </div>

    <div id="div-all-posts">

        <form>
            <label for="post-content">New Post:</label><br>
            <textarea id="post-content" name="content" placeholder="Type here..."></textarea>
            <input type="submit" value="Post">
        </form>
        <hr>

        <div id="div-load-posts">

        </div>

        <div id="div-page-navigation">
            <nav aria-label="Search results pages">
            <ul class="pagination">
                <li id="page-item-previous" class="page-item"><a id="page-link-previous" class="page-link">Previous</a></li>

                <div id="div-number-pages">


                </div>
                
                <li id="page-item-next" class="page-item"><a id="page-link-next" class="page-link">Next</a></li>
            </ul>
        </nav>

        </div>
        

    </div>

    <div id="div-following">

    </div>
{% endblock %}