{% extends "network/layout.html" %}

{% block body %}
    <div id="div-profile">

    </div>

    <div id="div-error" style="display: none;">
        <div class="alert alert-danger" role="alert">
                
        </div>
    </div>

    <div id="div-message" style="display: none;">
        <div class="alert alert-primary" role="alert">
                
        </div>
    </div>

    <div id="div-all-posts">

        <div id="div-form-all-posts">
            <form id="new-post-all-posts">
                <label for="post-content">New Post:</label><br>
                <textarea id="new-post-content" name="content" placeholder="Type here..."></textarea>
                <input type="submit" value="Post">
            </form>
            <hr>

        </div>
        
        <div id="div-load-posts">

        </div>

        <div id="div-page-navigation">
            <nav aria-label="Search results pages">
            <ul class="pagination">
                <li id="page-item-previous" class="page-item"><a id="page-link-previous" class="page-link">Previous</a></li>

                <div id="div-number-pages">
                


                </div>
                
                <li id="page-item-next" class="page-item"><a id="page-link-next" class="page-link">Next</a></li>
            </ul>
        </nav>

        </div>
        

    </div>

    <div id="div-one-post">

    </div>

    <div id="div-following">

    </div>

    <div id="div-edit-post">
        <form id="form-edit-post">
            <label for="content-edit-post">Edit Post:</label><br>
            <textarea id="content-edit-post"></textarea>
            <input type="submit" value="Edit">
        </form>

    </div>
{% endblock %}